<link href="https://cdn1.onlineaccess1.com/cdn/base/4.4.0.36/assets/app.css" rel="stylesheet" data-no-shim />
<link href="https://cdn1.onlineaccess1.com/cdn/base/4.4.0.36/assets/tecton.css" rel="stylesheet" data-no-shim />
<link href="https://cdn1.onlineaccess1.com/cdn/base/4.4.0.36/assets/theme-q2.css" rel="stylesheet" data-no-shim />

<div id="root" data-tecton-module="data-tecton-module"></div>
<script src="{{ base_url }}/index.js?{{ timestamp }}"></script>
